.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(251, 186, 63);
  background: radial-gradient(
    circle,
    rgb(50, 187, 169) 0%,
    rgb(153, 179, 78) 100%
  );
  color: #333;
  height: 100vh;
}
.text {
  font-family: "Roboto Condensed", sans-serif;
  font-size: xx-large;
}
.textDescription {
  font-family: "Roboto Condensed", sans-serif;
  font-size: larger;
  margin: 5px;
}
.emogi {
  justify-content: center;
  height: 250px;
  width: auto;
  margin: 50px 0;
}
.link {
  padding: 5px 130px;
  border: 1px solid black;
  text-decoration: none;
  background-color: #333;
  color: rgb(255, 115, 36);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  border-radius: 5px;
}
.link:hover {
  color: rgb(40, 40, 40);
  background-color: rgb(255, 115, 36);
}
@media (max-height: 360px) {
  .emogi {
    justify-content: center;
    height: 190px;
    width: auto;
    margin: 20px 0;
  }
}
