@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
.container {
    background-color:rgb(36, 35, 35, 0.7);
    position: fixed;
    inset: 0;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardDetail {
    position: relative;
    display: flex;
    align-items: center;

    gap: 40px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #b2a460;
    padding: 5px;
    width: 600px;
    max-height: 100%;

}
.image {
    width: 300px;
    height: 300px;
    border-radius: 3px;
    border: 1px solid black;
}
.text {
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 40px;
    color: rgb(20, 20, 20);
}

@media (max-width: 635px) {
    .cardDetail {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 300px;
        padding: 10px;
        gap: 10px; 
    }
}